body{
    width: 80vw;
    background-color: #A9D7E9;
    height: 80vh;
    padding-left: 15%;
    padding-bottom: 20%;
    padding-right: 15%;
}
form{
    background-color:#F3F3F3 ;
    border-radius: 4%;
    margin-left: 5%;
    padding: 5%;
    height: 100%;

}
.bouton{
    background-color:#6BA2CE ;
    margin-left: 40%;
    height: 40px;
    width: 80px;
    margin-top: 10px;
    border-radius: 10%;
    color: #F3F3F3;
    
}
.name{
    text-align: right;
    padding-right: 5%;

}
table{
    height: 90%;
    letter-spacing: 1px;
}
h1{
    text-align: center;
    margin-top: 20px;
}